table{
	border-collapse: collapse;
	margin: auto;
	margin-top: 5%;
	background-color: white;
	
}

table,td,th{
	border: 1px solid black;
	text-align: center;

}

*{
	margin:0;
	padding: 0;
}

.link{

	text-align: center;
	text-decoration: none;
	color: white;
	margin: auto;
	margin-top: 3%;
	margin-left: 8%;	
	background-color: #2F3336;
	font-size: 2em;

}
body{
	margin: 0%;
	background-color: #FFF06A;
}
.menu{
	padding: 2%;
	padding-top: 1%;
	background-color: #2F3336;
	margin-top: 0%;
}
.img{
	width: 5%;
	height: 5%;
	margin-left:0%;

}
#imglink{
	margin-left: 2%;
}

.link:hover{
	background-color: white;
	color: black;
	padding: 1%;
}