table{
	margin-top: 3%;
	margin-left: 30%;
	

}


table, tr, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	
	width: 10%;
	height: 30%;
	padding: 30px;
}


a{
	color: black;
	margin-left: 4%;
	display: inline-block;
	text-decoration:none;
	padding: 1%;
	
}

a:hover{
	 
	background-color: #ff6e00;
	color: white;
	padding: 3%;
}
.link{
	margin-top: 3%;
	width: 10%;
	margin-right: auto;
	margin-left: auto;
}

.cadastroitens{
	margin-top: 5%;
	margin-left: 45%;
	margin-right: 35%;

}

.menssagem{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}
input{
	margin-top: 2%;
	padding: 1%;
	display:block;

}
#button{
	background-color: #ff6e00; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 10%;
}
h2{
	margin-left: 40%;
	width: 20%;
}